/composer.lock
/resources/cache/*
/resources/log/*
/vendor/
/web/img/*
/web/js/*
/web/css/*
/node_modules/
/resources/assets/rev-manifest.json
/bower_components

!/web/img/.gitkeep
!/web/js/.gitkeep
!/web/css/.gitkeep
